:root {
    --POMODORO: #286d5e;
    --SHORTBREAK: #737674;
    --LONGBREAK: #4b6e80;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--POMODORO);
}

h1 {
    font-size: 8vw;
}

txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    font-size: 10rem;
}

p {
    font-size: 40px;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, 500%);
}

a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.divCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-1.5%);
}

a span {
    position: relative;
    z-index: 2;
}

a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(43, 33, 136);
    transition: all .35s;
}

a:hover {
    color: #fff;
}

a:hover:after {
    width: 100%;
}

button {
    margin-left: 2vw;
    font-family: inherit;
}

button:focus,
button:active {
    outline: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: none;
    font-family: 'Comfortaa', cursive;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    border-radius: 4px;
    box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.15);
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, rgba(2, 0, 36, 0) 5%, rgba(255, 255, 255, .5) 6%, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, .5) 10%, rgba(255, 255, 255, 0) 17%, rgba(255, 255, 255, .5) 19%, rgba(255, 255, 255, 0) 21%);
    background-size: 150%;
    background-position: right;
    transition: 1s;
}

button:hover {
    background-position: left;
    color: white;
    box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 1), 0px 0px 10px rgba(0, 0, 0, 0.25);
}

button:focus {
    outline: none;
}